In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

# Question 1 - What is the version of the pandas you have installed

In [29]:
pd.__version__

'1.5.3'

In [5]:
df = pd.read_csv('/Users/mac/Documents/Courses/Alexey Grigorev/california_housing.csv')

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Question 2:  How many columns do you have in the database?

In [7]:
df.info()
#Answer: 10

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

# Question 3: Which columns in the dataset have missing values?
Answer: From the df.info() above, we can see that total_bedrooms has missing data compared to the other columns.
To confirm, we will check the columns highlighted in the options

In [10]:
df[df["total_rooms"].isna()]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [14]:
df[df["total_bedrooms"].isna()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN

After checking, we can see that total bedrooms has missing values

# Question 4: How many unique values does the ocean_proximity column have?

In [21]:
df["ocean_proximity"].nunique()

5

# Question 5 - What's the average value of the median_house_value for the houses located near the bay?

In [20]:
df[df["ocean_proximity"] == "NEAR BAY"]["median_house_value"].mean()

259212.31179039303

# Question 6a: Calculate the average of total_bedrooms column in the dataset.

In [22]:
df['total_bedrooms'].mean()

537.8705525375618

# Question 6b: Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.

In [23]:
df_new = df.copy()

In [26]:
df_new["total_bedrooms"].fillna(537.9, inplace = True)

# Question 6c - Now, calculate the average of total_bedrooms again.

In [27]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [28]:
df_new['total_bedrooms'].mean()

537.8708478682169

# Question 6d - Has it changed?
Answer: No it hasn't

# Question 7
Select all the options located on islands.
Select only columns housing_median_age, total_rooms, total_bedrooms.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [950, 1300, 800, 1000, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the last element of w?

In [78]:
array_df = df_new[df_new["ocean_proximity"] == 'ISLAND'][["housing_median_age", "total_rooms", "total_bedrooms"]]

In [88]:
array_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 8314 to 8318
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   housing_median_age  5 non-null      float64
 1   total_rooms         5 non-null      float64
 2   total_bedrooms      5 non-null      float64
dtypes: float64(3)
memory usage: 160.0 bytes

In [101]:
X = np.array(array_df)

In [92]:
XT = X.T

In [93]:
XTX = np.dot(XT, X)

In [94]:
XTX_inv = np.linalg.inv(XTX)

In [95]:
y = np.array([950, 1300, 800, 1000, 1300])

In [96]:
X.shape

(5, 3)

In [97]:
XT.shape

(3, 5)

In [98]:
w = np.dot(np.dot(XTX_inv, XT), y)

In [99]:
w

array([23.12330961, -1.48124183,  5.69922946])

In [100]:
w[-1]

5.699229455065565